.event
{
    padding-top : 8%;
}

#page-header-event
{
    margin-top : -3%;
}

#EachEvent
{
    

margin-top : 5%;
}

#event-brownbtn
{
    background-color : #845349;
    border : white;
    color : white;
}

#event-spacewithfooter{
    margin-bottom : 150px;
}