
 /* #myCarousel{
    margin-top:100px;
}   */
.homeja{
    margin-top:100px;
}

#pic{
    width: 140%;
    margin-left:-10px;
}

#subscribe{
    width : 100%;
}

#gobrown{
    color : #845349;
}

#gobrownbutton{
    background-color : #845349;
    border : white;
}