#footer
{
background-color : #442D28;
clear: both;

}

#img
{
width : 400%;
margin-left : 40%;
margin-bottom : 5%;
}
#okbutton
{
  background-color: #442D28;
color: #FFF

}

#contact-us
{
padding-top: 5% ;
padding-left: 80px;
color: #FFF
}

#sitemap
{

padding-top: -50px ;
padding-left: 80px;
color: #FFF

}

#des

{
  padding-left : 70px;
  color : #FFF ;
}

#footer-email-bar
{
	padding-bottom:30px;
}

/* c {
  color: hotpink;
} */


.footerlink{
 color: white;;
}

#footer-middle{
  margin-top: 12%;
  margin-left :35%;
}

