#sikhlogo
{
    margin-top :1.5%;
    width : 6%;
    /* margin-left : 46%; */
    
}

.header-top{
    background-color: #442D28;
    text-align: center;
    color : white;
}

#header-top-banner{
    text-align: center;
    margin-top : 0%;
    padding-bottom:1%;
}